@charset "utf-8";

$a: #242424;
$b: #333;
$c: #555;
$d: #6f6f6f;
$e: #f7f7f7;
$f: #fff;
$g: #aa8525;
$h: #ffe04b;
$i: #ffeb60;

//sub
$j: #eaeaea;
$k: #767676;
$l: #ccc;
$m: #474c98;
$n: #ededf7;
$o: #f2f2f2;
$p: #5055b1;

//상,하단 테두리
$q: #dfdfdf;