@charset "utf-8";

$a: #242424;
$b: #333;
$c: rgb(85, 85, 85);
$d: #6f6f6f;
$e: #f7f7f7;
$f: #fff;
$g: rgb(170, 133, 37);
$h: rgb(255, 224, 75);
$i: #ffeb60;

//sub
$j: #eaeaea;
$k: rgb(118, 118, 118);
$l: #ccc;
$m: rgb(71, 76, 152);
$n: #ededf7;
$o: #f2f2f2;
$p: #5055b1;

//상,하단 테두리
$q: #dfdfdf;