@charset "utf-8";

// ν—¤λ”
header {
    position: sticky;
    width: 100%;
    z-index: 100;
    background-color: hsla(0, 0%, 100%, .9);
    top: 0;
}

#topbar {
    background-color: hsla(0, 0%, 100%, 0);
    border-bottom: 0.5px solid #dfdfdf;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    position: relative;
}

.toplogo img {
    width: 56px;
    margin: 0.67em 0;
}

nav {
    display: flex;
    align-items: center;

    ul {
        display: flex;
        justify-content: center;
    }

    a {
        display: flex;
        justify-content: center;
        margin: 20px;
    }

    font: {
        weight: 600;
    }

    button {
        border: none;
        cursor: pointer;
        background: #333;
        border-radius: 100px;
        padding: 7px 25px;
        font-size: 12px;
        line-height: 18px;
        color: #fff;
        text-align: center;
    }
}

// ν‘Έν„°
#footer {
    padding-bottom: 50px;

    footer {
        background-color: #fff;
        border-top: 1px solid #dfdfdf;

        .inner {
            max-width: 1440px;
            margin: 0 auto;
            padding: 24px 16px 32px;
        }
    }

    .top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;

        h1 {
            font: {
                weight: 800;
                size: 16px;
            }

            margin: 0;
        }
    }

    .sns {
        ul {
            display: flex;

            li {
                &:first-child {
                    margin-left: 0;
                }

                width: 24px;
                height: 24px;
                margin-left: 8px;

                img {
                    height: 100%;
                }
            }

        }
    }

    .info {
        color: #a5a5a5;

        font: {
            size: 10px;
            weight: 500;
        }

        padding-right: 14px;
        cursor: pointer;

        img {
            width: 9px;
        }
    }

    .services {
        display: flex;
        margin-top: 24px;
        flex-wrap: wrap;

        li {
            margin-right: 12px;
        }

        a {
            padding-right: 12px;
            font-size: 12px;
            color: #6f6f6f;

            img {
                width: 9px;
            }
        }
    }

    .copyright {
        color: #6f6f6f;
        font-size: 10px;
        font-weight: 700;
        margin-top: 24px;
    }
}

.floating {
    border: none;
    display: block;
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%);
    z-index: 100;
    max-width: 450px;
    width: 90%;
    margin: 0 auto;
    cursor: pointer;
    background-color: #333;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .16), 4px 8px 28px rgba(0, 0, 0, .08);
    border-radius: 60px;
    color: #fff;
    text-align: center;
    padding: 16px 0;
    line-height: 24px;
    font-size: 16px;
    min-height: 56px;
}