@charset "utf-8";

@import "reset", "fonts", "color";


#wrap {
    height: 100%;
}

#main {
    width: 100%;
    height: 820px;
    background: linear-gradient(#f8faff 67.5%, #f0f4ff 0);
    padding: 64px 0 0;

    .inner {
        position: relative;
        display: block;
        height: 100%;
        max-width: 1200px;
        margin: 0 auto;
        background-image: url(../img/main_bg.png);
        background-size: 765px;
        background-repeat: no-repeat;
        background-position: 96% 55%;
        overflow: hidden;

        .textwrap {
            margin-top: 88px;
            padding: 0 48px;;

            h1 {
                color: transparent;
                background-image: url(../img/slogan.png);
                background-repeat: no-repeat;
                height: 223px;
                background-size: 346px;
                transform: translateY(100px); 
                transition: all 2s; 
                opacity: 0;
            }

            p {
                margin-top: 310px;
                color: transparent;
                height: 47px;

                background: {
                    image: url(../img/subtit.png);
                    size: 178px;
                    repeat: no-repeat;
                }

                transform: translateY(100px); 
                transition: all 2s; 
                opacity: 0;
            }
        }
    }
}

.textwrap {
    text-align: center;
    margin-bottom: 60px;

    h2 {
        font-size: 49px;
        margin-bottom: 24px;
        color: #242424;
    }

    p {
        font-size: 22px;
        line-height: 160%;
        letter-spacing: -.6px;
        color: #555;
    }
}

#box1 {
    background-color: #ffeb60;
    padding: 80px 0 70px;

    .textwrap{
         h2 {
        transform: translateY(100px); 
        transition: all 2s; 
        opacity: 0;
    }

    p {
        transform: translateY(100px); 
        transition: all 2s; 
        opacity: 0;
    }
    }
   

    .inner {
        margin: 0 auto;
        max-width: 1440px;
        overflow: hidden;

    }

    .listwrap {
        max-width: 824px;
        margin: 0 auto;
    }

    .cardlist {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        padding-bottom: 32px;
        margin-top: 40px;
        transform: translateY(100px); 
        transition: all 2s; 
        opacity: 0;

        li {
            padding: 32px;
            border-radius: 20px;
            background-color: #fff;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .1), 0 8px 20px 0 rgba(0, 0, 0, .1);


        }

        .titlewrap {
            display: flex;
            justify-content: space-between;
            gap: 8px;

            .tit {
                font: {
                    size: 24px;
                    weight: 700;
                }

                line-height: 34px;
            }

            .icon img {
                display: block;
                width: 36px;
                height: 36px;
                border-radius: 50%;
            }
        }

        p {
            margin-top: 8px;
            line-height: 24px;
            font-size: 14px;
            color: #555;
        }

        b {
            color: #6f6f6f;
        }

    }

    .quotelist {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4px;
        padding: 20px 26px 16px;
        border-radius: 16px;
        background-color: #ffe04b;

        li {
            position: relative;
            padding-left: 15px;
            color: #aa8525;
        }

        li::before {
            content: "";
            position: absolute;
            top: 7.5px;
            left: 6px;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: #aa8525;
        }

        .text {
            font: {
                weight: 400;
                size: 12px;
            }

            line-height: 18px;
        }
    }

}

#box2 {
    background-color: #fff;

    .textwrap {
        transform: translateY(100px); 
        transition: all 2s; 
        opacity: 0;
    }

    .inner {
        padding: 80px 24px;
        max-width: 100%;
        margin: 0 auto;
        overflow: hidden;
    }

    .slidewrap {
        margin-top: 80px;

        .slide {
            width: 100%;
            height: 500px;
            background-size: cover;
            background-position: 0 0;
        }

        .f1 {
            height: 220px;
            background-image: url(../img/bookslide1.png);
            background-repeat: repeat-x;
            background-size: 3000px;
            margin-top: 50px;
            animation: slide_left 100s linear infinite;
        }

        .f2 {
            height: 220px;
            background-image: url(../img/bookslide2.png);
            background-repeat: repeat-x;
            background-size: 3000px;
            margin-top: -15px;
            animation: slide_right 100s linear infinite;
        }

        .f3 {
            height: 220px;
            background-image: url(../img/bookslide3.png);
            background-repeat: repeat-x;
            background-size: 3000px;
            margin-top: -15px;
            animation: slide_left 100s linear infinite;
        }

    }

    @keyframes slide_left {
        from {
            background-position: 0px;
        }

        to {
            background-position: -3000px;
        }
    }

    @keyframes slide_right {
        from {
            background-position: -3000px;
        }

        to {
            background-position: 0px;
        }
    }
}

#box3 {
    background-color: #f7f7f7;

    .textwrap {
        transform: translateY(100px); 
        transition: all 2s; 
        opacity: 0;
    }

    .inner {
        padding: 80px 0 120px;
        max-width: 100%;
        margin: 0 auto;
    }

    .videowrap {
        max-width: 730px;
        // display: block;
        margin: 0 auto;
        filter: drop-shadow(5px 5px 50px rgba(0, 0, 0, .03)) drop-shadow(12px 12px 32px rgba(0, 0, 0, .1));
        // position: relative;
        cursor: pointer;

        .movie {
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .poster {
            position: absolute;

            img {
                width: 100%;
                height: 100%;
            }
        }

    }
}

#box4 {
    background-color: #fff;

    .textwrap {
        transform: translateY(100px); 
        transition: all 2s; 
        opacity: 0;
    }

    .inner {
        padding: 80px 0 50px;
        max-width: 100%;
        margin: 0 auto;
        overflow: hidden;
    }

    .librarywrap {
        margin-top: 80px;
    }

    .booklist {
        max-width: 1153px;
        margin: 32px auto 30px;
        

        strong {
            display: block;

            font: {
                size: 20px;
                weight: 700;
            }

            line-height: 28px;
            margin-bottom: 16px;
            // padding: 0 24px;
        }

        .books {
            margin: 0 auto;
            width: 1159px;
            height: 351px;
            display: flex;
            justify-content: space-between;
            padding-top: 16px;
        }

        .cover {
            width: 145px;
            
        }

        img {
            width: 100%;
        }

        .shadow {
            width: inherit;
            background: linear-gradient(90deg, var(--ui-05) 25%, var(--ui-05) 37%, var(--ui-05) 63%);
            border-radius: 0 4px 4px 0;
            box-shadow: 2px 2px 6px rgba(0, 0, 0, .1), 0 0 2px rgba(0, 0, 0, .2);
        }

        h4 {
            font-size: 15px;
        }

        h5 {
            color: #6f6f6f;
            font-size: 14px;
        }
    }
}

#box5 {
    background: #f7f7f7;
    padding-top: 80px;
    margin-bottom: 80px;

    .textwrap {
        transform: translateY(100px); 
        transition: all 2s; 
        opacity: 0;
    }

    .contentwrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .challenge {
        padding: 0 190px;
        position: relative;


        .yellow {
            .sub {
                position: absolute;
                top: 64px;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;

                .sub-1 {
                    font-size: 40px;
                    line-height: 52px;
                }

                .sub-2 {
                    font: {
                        size: 21px;
                        weight: 500;
                    }

                    line-height: 32px;
                    margin-top: 12px;
                    color: #333;
                    white-space: nowrap;
                    text-align: center;
                }
            }

            img {
                width: 100%;
                max-width: 1061px;
            }
        }
    }

    .cardwrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        gap: 40px;
        margin-top: 40px;
        padding-bottom: 140px;
        max-width: 1061px;
        width: 100%;

        .card {
            width: 327px;
            height: 416px;
            border-radius: 20px;
            box-shadow: 0 8px 20px rgba(0, 0, 0, .1), 0 2px 8px rgba(0, 0, 0, .1);


            img {
                max-width: 100%;
                vertical-align: top;
            }
        }
    }
}

#box6 {
    .bestwrap {
        max-width: 1200px;
        margin: 0 auto;
        padding: 74px 0 32px;
    }

    .textwrap {
        transform: translateY(100px); 
        transition: all 2s; 
        opacity: 0;
    }

    .select {
        overflow: hidden;

        .type {
            padding: 0 24px;
            cursor: grab;
            scrollbar-width: none;
            margin-top: -16px;

            ul {
                display: inline-flex;
                flex-wrap: nowrap;
                white-space: nowrap;
                padding-right: 24px;
                margin-bottom: 4px;
                padding-top: 16px;

                li {
                    margin-left: 8px;
                    background: transparent;
                    overflow: hidden;
                    cursor: pointer;
                    padding: 6px 16px;
                    display: block;
                    border: 1px solid #242424;
                    border-radius: 100px;

                    font: {
                        size: 14px;
                        weight: 500;
                    }

                    &:first-child {
                        margin-left: 0;
                    }

                    &:hover {
                        background: #242424;
                        color: #fff;
                    }
                }

                .active {
                    background-color: #242424;
                    color: #fff;
                }
            }
        }

        .bestlist {
            max-width: 1153px;
            margin: 32px auto 30px;

            .hot {
                margin: 0 auto;
                width: 1159px;
                height: 351px;
                display: flex;
                justify-content: space-between;
                padding-top: 16px;

                &:not(:first-of-type) {
                    display: none;
                }
            }

            .item {
                width: 145px;
            }

            img {
                width: 100%;
            }

            .shadow {
                width: inherit;
                background: linear-gradient(90deg, var(--ui-05) 25%, var(--ui-05) 37%, var(--ui-05) 63%);
                border-radius: 0 4px 4px 0;
                box-shadow: 2px 2px 6px rgba(0, 0, 0, .1), 0 0 2px rgba(0, 0, 0, .2);
            }

            h4 {
                font-size: 15px;
            }

            h5 {
                color: #6f6f6f;
                font-size: 14px;
            }
        }
    }
}

#box7 {
    background-color: #f7f7f7;
    padding: 80px 0 0;

    .textwrap {
        transform: translateY(100px); 
        transition: all 2s; 
        opacity: 0;
    }

    .inner {
        margin: 0 auto;
        max-width: 1440px;
        overflow: hidden;
    }

    .read {
        padding: 0px 24px 0;

        .readwrap {
            position: relative;
            max-width: 834px;
            margin: 0 auto;

            .popupwrap {
                .card {
                    position: absolute;
                    max-width: 172px;

                    &:first-child {
                        left: -10%;
                        top: 50%;
                    }

                    &:nth-child(2) {
                        left: 0;
                        top: 12%;
                        position: absolute;
                        max-width: 172px;
                    }

                    &:nth-child(3) {
                        right: 0;
                        top: 12%;
                        position: absolute;
                        max-width: 172px;
                    }

                    &:nth-child(4) {
                        right: -10%;
                        top: 50%;
                        position: absolute;
                        max-width: 172px;
                    }

                    img {
                        max-width: 100%;
                        vertical-align: top;
                        pointer-events: none;
                        border-style: nones;
                    }
                }
            }

            .bgwrap {
                position: relative;

                .mock {
                    transform: translate(-50%);
                    left: 50%;
                    position: relative;
                    display: inline-block;
                    max-width: 410px;

                    img {
                        max-width: 100%;
                        vertical-align: top;
                        border-style: none;
                        pointer-events: none;
                    }
                }

                .tool {
                    border-radius: 8px;
                    position: absolute;
                    top: 49%;
                    left: 50%;
                    transform: translate(-50%);
                    box-shadow: 10px 10px 40px rgba(0, 0, 0, .1);
                    min-width: 297px;

                    img {
                        max-width: 100%;
                        vertical-align: top;
                        border-style: none;
                        pointer-events: none;
                    }
                }
            }
        }
    }
}

#box8 {
    background-color: #ffeb60;

    .textwrap {
        transform: translateY(100px); 
        transition: all 2s; 
        opacity: 0;
    }

    .inner {
        padding: 80px 2% 100px;
        margin: 0 auto;
        max-width: 1440px;
        overflow: hidden;
    }

    .pricewrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
        max-width: 1024px;

        .pricelist {
            display: flex;
            flex-direction: row;

            li {
                background: #fff;
                box-shadow: 10px 10px 40px rgba(0, 0, 0, .1);
                border-radius: 16px;
                padding: 32px;
                width: 327px;

                &:first-child {
                    margin-right: 24px;
                }

                strong {
                    font: {
                        size: 20px;
                        weight: 700;
                    }

                    line-height: 28px;
                }

                .month {
                    display: flex;
                    align-items: baseline;
                    margin-top: 24px;

                    span {
                        font: {
                            weight: 300;
                            size: 24px;
                        }

                        line-height: 130%;
                        margin-right: 6px;
                    }

                    p {
                        font: {
                            weight: 900;
                            size: 40px;
                        }

                        line-height: 100%;
                        margin-right: 2px;
                    }

                    b {
                        font: {
                            weight: 700;
                            size: 16px;
                        }

                        line-height: 130%;
                    }

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }

                .year {
                    margin: 16px 0 24px;

                    .basic {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        p {
                            font: {
                                weight: 300;
                                size: 18px;
                            }

                            line-height: 22px;
                            color: #6f6f6f;
                            margin: 0 8px 0 24px;
                            text-decoration: line-through;
                        }

                        img {
                            max-width: 57px;
                            vertical-align: top;
                            border-style: none;
                            pointer-events: none;
                        }
                    }

                    .discount {
                        display: flex;
                        align-items: baseline;

                        span {
                            font: {
                                weight: 300;
                                size: 24px;
                            }

                            line-height: 130%;
                            margin-right: 6px;
                        }

                        p {
                            font: {
                                weight: 900;
                                size: 40px;
                            }

                            line-height: 100%;
                            margin-right: 2px;
                        }
                    }

                }

                .subinfo {
                    font-size: 14px;
                    line-height: 20px;
                    color: #6f6f6f;
                }
            }
        }

        .refundlist {
            margin-left: 35px;

            li {
                display: flex;
                align-items: center;
                flex-direction: row;

                &:first-child {
                    padding-bottom: 16px;
                    border-bottom: 1px solid #fff;
                }

                &:last-child {
                    padding-top: 16px;
                }

                img {
                    max-width: 72px;
                    margin-right: 24px;
                }

                p {
                    font: {
                        weight: 700;
                        size: 16px;
                        line-height: 22px;
                    }
                }
            }
        }
    }
}

#box9 {
    background-color: #f7f7f7;
    position: relative;

    .textwrap {
        transform: translateY(100px); 
        transition: all 2s; 
        opacity: 0;
    }

    .tab_wrap {
        background-color: #fff;
    }

    .tab {
        max-width: 1156px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;

        li {
            cursor: pointer;
            padding: 54px 16px 33px;
            background-color: #fff;
            text-align: center;
            position: relative;
            flex: 1;

            &::before {
                content: "";
                width: 24px;
                height: 24px;
                background-size: 24px;
                position: absolute;
                left: 50%;
                top: 25%;
                transform: translate(-52%);
            }
        }

        .audiobook {
            &::before {
                background-image: url(../img/audiobook.png);
            }
        }

        .millie_viewer {
            &::before {
                background-image: url(../img/viewer.png);
            }
        }

        .active {
            border: none;
            background-color: #f7f7f7ff;
        }
    }

    .tab_list {
        padding: 74px 142px;
        position: relative;
        margin: 0 auto;
        max-width: 1440px;
        overflow: hidden;
        height: 829px;

        .tab_sub {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:not(:first-of-type) {
                display: none;
            }
        }

        .intro {
            display: flex;
            align-items: center;

            .textwrap {
                flex: 1;
                margin-bottom: 30%;
                min-width: 195px;
                text-align: left;

                img {
                    content: "";
                    width: 44px;
                    height: 44px;
                    background-size: 44px;
                    margin-top: 24px;
                    margin-left: 20px;
                    transform: translate(-50%);
                }
            }
        }

        .phone {
            position: relative;
            height: 100%;

            .swiper {
                width: 330px;
                position: relative;
                filter: drop-shadow(10px 10px 40px rgba(0, 0, 0, .1));
                overflow: hidden;
                border: 25px solid #fff;
                border-radius: 50px;
                box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .1), 0 8px 20px 0 rgba(0, 0, 0, .1);
                cursor: grab;
                margin-left: 650px;
            }

            .swiper img {
                max-width: 330px;
                position: absolute;
                z-index: 1000;
                top: 0;
                left: 0;
            }


            .swiper-slide {
                text-align: center;
                font-size: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .swiper-slide img {
                display: block;
                width: 102%;
                object-fit: cover;
                z-index: 1;
            }

            .swiper-slide video {
                display: block;
                width: 100%;
                object-fit: cover;
            }

            .slide-body {
                position: absolute;
                bottom: 20%;
                line-height: 200%;

                p {
                    margin-left: -180px;
                    margin-bottom: 120px;
                    font-weight: 400;
                    font-size: 22px;
                }

                &:not(:first-of-type) {
                    display: none;
                }
            }
        }

        .swiper-pagination {
            display: flex;
            max-width: 240px;
            text-align: center;
            position: absolute;
            margin-left: -185px;
            bottom: 60px;

            .swiper-pagination-bullet {
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 18px;
                color: #242424;
                opacity: 1;
                margin-right: 5px;
                background-color: transparent;
                padding: 4px 18px;
                display: block;
                border: 1px solid #242424;
                border-radius: 100px;

                font: {
                    size: 14px;
                    weight: 500;
                }

            }

            .swiper-pagination-bullet-active {
                color: #fff;
                background: #242424;
            }
        }
    }
}

#box10 {
    background-color: #f7f7f7;
    padding-top: 160px;

    .textwrap {
        transform: translateY(100px); 
        transition: all 2s; 
        opacity: 0;
    }

    .review-bg {
        background: {
            image: url(../img/review-bg.png);
            repeat: no-repeat;
            size: cover;
            position: 50%;
        }

        .inner {
            display: flex;
            flex-direction: row;
            padding: 0 202px 80px 162px;
            position: relative;
            overflow: visible;
            margin: 0 auto;
            max-width: 1440px;


            .video {
                cursor: pointer;
                margin-top: -88px;
                position: relative;

                .thumbnail {


                    img {
                        position: relative;
                        width: 100%;
                        max-width: 515px;
                        vertical-align: top;
                        border-style: none;
                        pointer-events: none;
                        z-index: 100;
                    }

                    .btn_player {
                        content: "";
                        display: block;
                        position: absolute;
                        background-size: cover;
                        width: 56px;
                        height: 56px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 100;
                    }
                }


                .v_player {
                    z-index: 1;
                    position: absolute;
                    top: 8%;
                    left: 9%;

                    iframe {
                        width: 415px;
                        height: 415px;
                        left: 0;
                        top: 0;
                        overflow: hidden;
                    }
                }
            }

            .textwrap {
                padding-top: 80px;
                margin-left: auto;
                text-align: left;

                h2 {
                    line-height: 130%;
                }

                p {
                    line-height: 160%;
                }
            }
        }
    }

    .qna {
        background: #ffeb60;
        position: relative;

        .inner {
            padding: 80px 24px 84px;
            margin: 0 auto;
            max-width: 1440px;
            overflow: hidden;

            .qnawrap {
                margin-top: 60px;

                ul {
                    max-width: 920px;
                    margin: 0 auto;

                    li {
                        position: relative;
                        margin-bottom: 16px;
                        background: #fff;
                        box-shadow: 10px 10px 40px rgba(0, 0, 0, .1);
                        border-radius: 20px;
                        padding: 15px 24px 15px;
                        overflow: hidden;
                        cursor: pointer;

                        .active {
                            transition: max height 1s;
                            max-height: 500px;
                        }

                        .question {
                            margin-top: -5px;
                            margin-right: 33px;
                            line-height: 24px;
                        }

                        .Q {
                            font: {
                                weight: 700;
                                size: 20px;
                            }

                            img {
                                width: 24px;
                                height: 24px;
                                background-size: 24px;
                                position: absolute;
                                right: 20px;
                                top: 19px;

                                &.q1 {
                                    transform: scaleY(-1);
                                }
                            }
                        }

                        .A {
                            border-top: 1px solid #242424;
                            margin-top: 20px;
                            color: #555;
                            line-height: 24px;
                            padding-top: 16px;
                            font-weight: 500;
                            padding-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}