@charset "utf-8";

@import "reset", "fonts", "color";


#main {
    .inner {
        width: 1440px;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .category {
        cursor: pointer;
        width: 100%;
        color: $d;
        font-size: 13px;
        line-height: 20px;
        margin-top: 20px;
        font-weight: 500;

        img {
            height: 14px;
        }

        ul {
            display: flex;
        }

        li {
            padding-bottom: 8px;
            line-height: 19px;
            letter-spacing: -0.01em;

            &:first-child {
                margin-right: 8px;
            }

            img {
                height: 10px;
                padding-right: 8px;
            }
        }
    }

    .main_page {
        max-width: 1440px;
        height: 700px;
        display: flex;
        align-content: center;
        justify-content: flex-start;

        // 왼쪽
        .box1 {
            width: 450px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding-bottom: 30px;

            .writer {
                font-size: 17px;
                font-weight: 500;
                line-height: 23px;
                letter-spacing: -0.01em;
                margin-bottom: 10px;
            }

            .publisher {
                color: $c;
                margin-bottom: 21px;
                line-height: 22px;
                letter-spacing: -0.01em;
                vertical-align: middle;
            }

            .best {
                .tit {
                    display: flex;

                    .week {
                        font-size: 14px;
                        line-height: 22px;
                        letter-spacing: -0.01em;

                        .fa-crown {
                            width: 20px;
                            height: 18px;
                            margin-right: 5px;
                        }
                    }

                    .rank {
                        font-size: 13px;
                        line-height: 24px;
                        letter-spacing: -0.01em;
                        vertical-align: top;
                        margin-left: 10px;
                    }
                }

                .review_box {
                    width: 330px;
                    height: 120px;
                    border-radius: 10px;
                    margin: 30px 0;
                    overflow: hidden;
                    position: relative;
                    display: flex;
                    border: 1px solid $j;
                    padding: 15px 0 20px 0;

                    .left {
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        position: relative;

                        .avg {
                            .fa-face-grin-stars {
                                margin-right: 10px;
                            }

                            font: {
                                size: 20px;
                                weight: 700;
                            }

                            color: $h;
                        }

                        .star {
                            margin-bottom: 5px;
                        }

                        .add {
                            font-size: 12px;
                            color: $d;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            right: 0;
                            width: 1px;
                            height: 30px;
                            background-color: $j;
                        }
                    }

                    .right {
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        .fa-quote-left {
                            margin-bottom: 5px;
                        }

                        .help {
                            font-size: 20px;
                            font-weight: 700;
                            margin-bottom: 7px;
                            color: $c;
                        }

                        .add {
                            font-size: 12px;
                            color: $d;
                        }
                    }
                }

                .basic_info {
                    width: 330px;
                    border-top: 1px solid $j;
                    border-bottom: 1px solid $j;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    padding: 16px 0;

                    p {
                        width: 100%;
                        padding-bottom: 5px;
                        font-size: 14px;
                        font-weight: 700;
                        margin-left: 30px;
                        letter-spacing: -0.01em;
                    }

                    .base li {
                        font-size: 13px;
                        color: $c;
                        margin: 5px 0;
                        position: relative;
                    }

                    .wrap li {

                        &::before {
                            position: absolute;
                            content: "";
                            width: 3px;
                            height: 3px;
                            border-radius: 50%;
                            background-color: $l;
                            left: -13px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }
    }

    // 가운데
    .box2 {
        width: 540px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .text_wrap {
            text-align: center;

            h2 {
                line-height: 42px;
                letter-spacing: -0.01em;

                font: {
                    size: 28px;
                    weight: 500;
                }
            }

            p {
                color: $k;
                font-weight: 500;
            }
        }

        .book_wrap {
            padding-top: 40px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
        }

        .book_cover {
            width: 25%;
            height: 100%;
            transform-style: preserve-3d;
            perspective: 1000px;

            .turn_img {
                width: 380px;
                height: 572px;
                position: relative;
                transition: 0.5s;
                transform-style: preserve-3d;
                box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);

                &:hover {
                    transform: rotateY(35deg);
                    cursor: url(../sub_img/flip.svg), pointer !important;
                }

                &::before {
                    content: "";
                    width: 30px;
                    height: 100%;
                    position: absolute;
                    background-image: url(../sub_img/cover2.jpg);
                    background-size: cover;
                    background-position: center;
                    transform-origin: left;
                    transform: rotateY(90deg);
                }

                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-image: url(../sub_img/cover3.jpg);
                    background-size: cover;
                    background-position: center;
                    transform-origin: center;
                    transform: rotateY(180deg) translateZ(30px);
                }

                &.rotate {
                    transform: rotateY(180deg);
                }

                img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
    }

    // 오른쪽
    .box3 {
        width: 450px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;

        .share {
            width: 35px;
            height: 35px;
            border: 1px solid $n;
            border-radius: 100px;

            img {
                width: 14px;
                height: 14px;
                margin-top: 9px;
                margin-left: 8px;
            }
        }

        .price {
            width: 421px;
            display: flex;
            flex-direction: column;
            margin-top: 70px;
        }

        .money {
            .badge {
                margin-bottom: 26px;
                text-align: left;

                span {
                    margin-right: 4px;
                    margin-top: 4px;
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: -0.01em;
                    border: 1px solid $l;
                    min-height: 22px;
                    padding: 1px 5px;
                    border-radius: 4px;
                    color: $k;
                }
            }

            .money_wrap {
                display: flex;

                .percent {
                    display: inline-block;
                    margin-right: 6px;
                    color: $g;
                    font-size: 24px;
                    line-height: 36px;
                    font-weight: 700;
                    vertical-align: top;
                    letter-spacing: -0.01em;
                }

                .count {
                    display: inline-block;
                    margin-right: 4px;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 36px;
                    vertical-align: top;
                    letter-spacing: -0.01em;
                }

                .sale {
                    display: inline-block;
                    margin-top: 7px;
                    color: $k;
                    font-size: 14px;
                    line-height: 22px;
                    vertical-align: bottom;
                    letter-spacing: -0.01em;
                    text-decoration: line-through;
                }
            }
        }

        .point {
            border-top: 1px solid $j;
            border-bottom: 1px solid $j;
            margin-top: 15px;
            padding: 18px 0 16px;
            display: flex;
            justify-content: space-between;

            .benefit {
                font-size: 14px;
                font-weight: 700;
                line-height: 22px;
                letter-spacing: -0.01em;
                margin-right: 15px;
                padding-right: 260px;
            }

            .stack {
                display: inline-block;
                font-size: 15px;
                line-height: 23px;
                font-weight: 700;
                letter-spacing: -0.01em;
                vertical-align: top;
                color: $g;
            }

            img {
                width: 23px;
                height: 23px;
            }
        }

        .delivery {
            padding: 18px 0 16px;
            border-bottom: 1px solid $j;

            .line1 {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;

                .de1 {
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 22px;
                    letter-spacing: -0.01em;
                    margin-right: 15px;
                    padding-right: 260px;
                }

                .de2 {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 22px;
                    letter-spacing: -0.01em;
                }

                img {
                    width: 18px;
                    height: 18px;
                    margin-top: 3px;
                }
            }

            .line2 {
                display: flex;
                justify-content: right;
                margin-bottom: 10px;

                .de3 {
                    padding: 3px 7px 0;
                    border-radius: 20px;
                    font-weight: 400;
                    font-size: 12px;
                    color: $m;
                    border: 1px solid $n;
                    background: $n;
                    text-align: center;
                    margin-bottom: -3px;
                }

                .de4 {
                    font-size: 14px;
                    font-weight: 700;
                    letter-spacing: -0.01em;
                    margin: 3px 12px 0 12px;
                }

                img {
                    width: 18px;
                    height: 18px;
                    margin-top: 3px;
                }
            }

            .line3 {
                display: flex;
                justify-content: right;

                .address {
                    font-size: 14px;
                    line-height: 22px;
                    color: $c;
                }

                .chan {
                    height: 24px;
                    padding: 1px 5px 1px;
                    margin-left: 10px;
                    border: 1px solid $l;
                    border-radius: 4px;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 18px;
                    background-color: $f;

                    img {
                        margin-left: 2px;
                        width: 8px;
                        height: 8px;
                    }

                    &:hover {
                        background: $o;
                        border-color: $l;
                        cursor: pointer;
                    }
                }
            }
        }

        .alram {
            .apply {
                display: flex;
                justify-content: space-between;
                padding: 16px 0;

                .txt {
                    font-size: 13px;
                    line-height: 19px;
                    color: $c;
                }

                .alr {
                    color: $m;
                    border: 1px solid $p;
                    background-color: $f;
                    height: 30px;
                    padding: 0 9px 1px;
                    border-radius: 4px;
                    font-size: 12px;
                    line-height: 18px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;

                    img {
                        width: 12px;
                        background-size: 12px 18px;
                        margin-right: 5px;
                    }

                    &:hover {
                        background: $n;
                        border-color: $m;
                        cursor: pointer;
                    }
                }
            }

            .map {
                width: 100%;
                text-align: center;
                border: 1px solid $l;
                height: 38px;
                padding: 0 13px 1px;
                border-radius: 6px;
                font-size: 13px;
                line-height: 19px;
                background: $f;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 14px;
                    height: 19px;
                    background-size: 13px 19px;
                    margin-right: 3px;
                }

                &:hover {
                    background: $o;
                    border-color: $l;
                    cursor: pointer;
                }
            }
        }
    }
}

//상세페이지 탭
.sub_top_menu {
    width: 100%;
    border-bottom: 1px solid $q;
    position: sticky;
    top: 65px;
    margin-top: 150px;
    margin-bottom: 100px;
    background-color: hsla(0, 0%, 100%, .9);
    z-index: 5;

    ul {
        width: 1440px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 65px;
        margin: 0 auto;

        li {
            padding-right: 50px;
            font-weight: 600;
            cursor: pointer;

            a {
                color: $a;

                &:hover {
                    color: $g;
                }
            }
        }
    }
}

//상세페이지 컨텐츠
#contents {
    height: auto;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;

    h2 {
        width: 814px;
        font-size: 20px;
        margin: 20px 0;
    }

    .left {
        width: 814px;
        height: 100%;
    }

    .right {
        width: 386px;
        height: 100%;
        padding-left: 55px;

        img {
            border-radius: 16px;
            width: 330px;
            margin: 10px 0;
        }
    }

    .rotate {
        transform: scaleY(-1);
    }

    // 상세페이지 왼쪽 컨텐츠
    .event {
        position: relative;

        .add {
            font-size: 13px;
            color: $c;
            position: absolute;
            top: 0;
            right: 0;

            &:before {
                content: "*";
                color: $m;
                position: absolute;
                left: -10px;
                top: 2px;
            }
        }

        .wrap {
            display: flex;
            justify-content: flex-start;
        }

        .Banner {
            margin-bottom: 50px;
            margin-right: 20px;

            p {
                width: 258px;

                &:nth-of-type(1) {
                    font-size: 15px;
                    margin: 10px 0;
                }

                &:nth-of-type(2) {
                    font-size: 13px;
                }
            }
        }

        img {
            width: 258px;
            border-radius: 16px;
        }
    }

    #bookcard {
        height: 100%;
        margin-bottom: 50px;

        .swiper {
            width: 105%;
            height: 50%;
            margin-left: -20px;

            .swiper-slide {
                font-size: 18px;
                background: transparent;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: grab;

                img {
                    display: block;
                    width: 397px;
                    height: 397px;
                    object-fit: cover;
                }
            }
        }

        .swiper-button-next {
            width: 50px;
            height: 50px;
            border-radius: 100px;
            background-color: rgb(51, 51, 51, 0.5);
            color: #ffffff;

            &:after {
                font-size: 20px;
                margin-left: 5px;
                font-weight: 700;
            }

            &:hover {
                background-color: $g;
            }
        }

        .swiper-button-prev {
            width: 50px;
            height: 50px;
            border-radius: 100px;
            background-color: rgb(51, 51, 51, 0.5);
            color: #ffffff;

            &:after {
                font-size: 20px;
                font-weight: 700;
            }

            &:hover {
                background-color: $g;
            }
        }
    }

    .together {
        margin-bottom: 50px;

        .swiper {
            width: 814px;
            height: 413px;
            padding: 36px 30px 40px;
            background: $e;
            border-radius: 20px;

            .swiper-slide {
                font-size: 18px;
                text-align: left;
                margin-right: 30px !important;
                padding-bottom: 20px;

                img {
                    width: 116px;
                    border: 1px solid $j;
                }

                h4 {
                    width: 116px;
                    font-size: 15px;
                    line-height: 23px;
                    margin-top: 8px;
                    font-weight: 500;
                }

                p {
                    width: 116px;
                    font-size: 13px;
                    color: $c;

                    &:nth-of-type(1) {
                        margin-top: 5px;
                        margin-bottom: 8px;
                    }

                    &:nth-of-type(2) {
                        color: black;
                    }
                }
            }

            .swiper-scrollbar {
                position: absolute;
                left: 30px;
                width: 92%;
                bottom: 40px;
                z-index: 50;
                height: 2px;
                background: rgba(0, 0, 0, 0.06);
                border-radius: 2px;
                overflow: hidden;

                .swiper-scrollbar-drag {
                    width: 200px !important;
                    transform: translate3d(0px, 0px, 0px);
                    transition-duration: 0ms;
                }
            }
        }
    }

    .poster {
        margin-top: 80px;

        img {
            border-radius: 20px;
        }

    }

    .bookintro {
        .b_Intro {
            border-bottom: 1px solid $j;

            .sub_tit {
                font-weight: 600;
                margin-bottom: 10px;
            }

            ul {
                display: flex;
                margin-bottom: 40px;
                color: $c;
            }

            li {
                line-height: 19px;
                letter-spacing: -0.01em;
                font-size: 14px;

                img {
                    height: 10px;
                    padding-right: 8px;
                }
            }
        }

        .txt1Wrap {
            font-size: 15px;
            margin-top: 30px;
            margin-bottom: 60px;

            ul {
                margin-bottom: 20px;
            }

            p {
                color: $c;
            }
        }
    }

    .writer {
        margin-bottom: 60px;

        .txt2Wrap {
            position: relative;

            .person {
                width: 100%;
                padding: 36px 30px 40px 30px;
                border-radius: 20px;
                background-color: $e;
                margin-bottom: 20px;
            }

            .name {
                margin-bottom: 20px;
                color: #000;
                font-size: 16px;

                img {
                    width: 18px;
                    margin-left: 8px;
                }
            }

            span {
                margin: 4px 3px;
                display: inline-block;
                font-size: 13px;
                line-height: 19px;
                letter-spacing: -0.01em;
                padding: 7px 16px 8px;
                border-radius: 20px;
                color: $c;
                background-color: $f;
                border: 1px solid $f;
                margin-bottom: 15px;
            }

            p {
                font-size: 15px;
                color: $c;
            }

            button {
                float: right;
                margin-top: -50px;
                margin-right: 5px;
                display: flex;
                align-items: center;
                background: $f;
                border: 1px solid $l;
                height: 30px;
                padding: 0 9px 1px;
                border-radius: 4px;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: -0.01em;
                font-weight: 500;

                &:hover {
                    background-color: $o;
                }

                img {
                    width: 14px;
                    top: 10px;
                    margin-right: 3px;

                }
            }
        }
    }

    .index {
        padding-bottom: 60px;
        border-bottom: 1px solid $j;

        .txt3Wrap {
            color: $c;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: -0.01em;
            height: 150px;
            overflow: hidden;
        }
    }

    .recommend {
        padding-bottom: 60px;
        border-bottom: 1px solid $j;

        .txt4Wrap {
            font-size: 15px;
            height: 150px;
            overflow: hidden;

            span {
                color: $m;
            }

            p {
                color: $c;
                margin-top: 13px;
                margin-bottom: 20px;
            }
        }
    }

    .bookin {
        padding-bottom: 60px;
        border-bottom: 1px solid $j;

        .txt5Wrap {
            font-size: 15px;
            color: $c;
            height: 230px;
            overflow: hidden;
        }
    }

    .publisher {
        padding-bottom: 60px;
        border-bottom: 1px solid $j;

        .txt6Wrap {
            font-size: 15px;
            color: $c;
            height: 150px;
            overflow: hidden;

            .letter {
                text-align: justify;
            }
        }
    }

    #review {
        margin-top: 60px;
        padding-bottom: 60px;
        position: relative;

        button {
            position: absolute;
            top: -10px;
            right: 0;
            height: 38px;
            padding: 0 13px 1px;
            border-radius: 6px;
            font-size: 13px;
            line-height: 19px;
            color: #fff;
            background: $g;
            border: 1px solid $g;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 14px;
                height: 18px;
                margin-right: 3px;
            }

            &:hover {
                border: 1px solid #85671d;
                background-color: #85671d;
            }
        }

        .grayBox {
            margin-bottom: 30px;
            background-color: #f7f7f7;
            border: 1px solid #d5d5d5;
            border-radius: 20px;
            padding: 35px 49px;
            display: flex;
        }

        .avg {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;


            padding-right: 50px;
            border-right: 1px solid $j;

            .titbox {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                p {
                    font-size: 15px;
                    line-height: 23px;
                    font-weight: 500;
                    margin-bottom: 5px;
                }

                .point_color {
                    font-size: 20px;
                    letter-spacing: -0.01em;
                    color: $h;
                    font-weight: 700;
                }

                span {
                    padding-top: 5px;
                    margin-left: 5px;
                    font-size: 14px;
                    letter-spacing: -0.01em;
                    color: #767676;
                    font-weight: 400;
                }
            }

            .bar_wrap {
                margin-top: 28px;
            }

            .bar1 {
                margin-left: 8px;
            }

            .score {
                display: flex;
                justify-content: center;
                margin-bottom: 10px;
            }

            .star_xs {
                width: 75px;
                display: flex;
                margin-right: 10px;

                .fa-star {
                    margin-right: 4px;
                }
            }

            .graph {
                position: relative;
                flex: 0 0 160px;
                height: 4px;
                background-color: rgba(0, 0, 0, 0.06);
                border-radius: 2px;
                margin: 0 12px;
                top: 10px;
            }

            .bars1 {
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: inline-block;
                    width: 93%;
                    height: 4px;
                    border-radius: 2px;
                    background-color: $h;
                }
            }

            .bars2 {
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: inline-block;
                    width: 10%;
                    height: 4px;
                    border-radius: 2px;
                    background-color: $d;
                }

            }

            .percent {
                font-size: 13px;
                color: $c;
            }

        }

        .responive {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .titbox {
                margin-left: 30px;
                text-align: center;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.01em;
            }

            span {
                font-weight: 700;
                color: $m;
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    top: 4px;
                    left: -20px;
                    width: 16px;
                    height: 16px;
                    background-image: url(../sub_img/quotes.png);
                    background-size: 16px 16px;
                }
            }

            .score2 {
                display: flex;
                margin-top: 25px;
                margin-right: -30px;
            }

            .col {
                padding-left: 15px;

                .point {
                    height: 19px;
                    font-size: 13px;
                    letter-spacing: -0.01em;
                    line-height: 19px;
                    padding-top: 0;
                    background-color: rgba(80, 85, 177, 0.8);
                    color: #fff;
                    font-weight: 500;
                    display: inline-block;
                    position: relative;
                    min-width: 38px;
                    padding: 0 7px;
                    margin-bottom: 9px;

                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        left: 50%;
                        bottom: -4px;
                        width: 12px;
                        height: 4px;
                        background: url(../sub_img/best_score.png) 0% 0% no-repeat;
                        background-size: 12px 4px;
                        transform: translateX(-50%);
                    }
                }
            }

            .percent {
                height: 19px;
                font-size: 13px;
                line-height: 19px;
                display: inline-block;
                position: relative;
                min-width: 38px;
                padding: 0 7px;
                margin-bottom: 9px;
                color: $c;
                border-radius: 10px;
                margin-left: 5px;
            }

            .text {
                display: block;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: -0.01em;
                margin-top: 6px;
                text-align: center;
                color: $k;
            }

            .graph {
                position: relative;
                width: 6px;
                height: 62px;
                margin: 0 auto;
                background-color: $j;
                border-radius: 3px;
            }

            .bar1 {
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    display: inline-block;
                    width: 6px;
                    height: 11%;
                    border-radius: 2px;
                    background-color: $d;
                }
            }

            .bar2 {
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    display: inline-block;
                    width: 6px;
                    height: 39%;
                    border-radius: 2px;
                    background-color: $m;
                }
            }

            .bar3 {
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    display: inline-block;
                    width: 6px;
                    height: 5%;
                    border-radius: 2px;
                    background-color: $d;
                }
            }

            .bar4 {
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    display: inline-block;
                    width: 6px;
                    height: 21%;
                    border-radius: 2px;
                    background-color: $d;
                }
            }

            .bar5 {
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    display: inline-block;
                    width: 6px;
                    height: 23%;
                    border-radius: 2px;
                    background-color: $d;
                }
            }

        }

        .tab_wrap {

            .tab_list_wrap {
                display: flex;
                justify-content: space-between;
            }

            .tabs {
                display: flex;
                margin-bottom: 20px;
                font-size: 14px;
                line-height: 22px;
                font-weight: 700;
                margin-left: 10px;
            }

            .order_list {
                display: inline-block;
                margin-right: 10px;
                padding: 0 14px;
                background-color: $f;
                border: 1px solid #d5d5d5;
                border-radius: 6px;
                box-sizing: border-box;
                width: 120px;
                height: 38px;
            }

            .review_list {
                display: block;
                border-bottom: 1px solid $j;

                .review_item {
                    display: block;
                    position: relative;
                    padding: 0px 10px;
                }

                .re_header {
                    border-top: 1px solid $j;
                    display: flex;
                    justify-content: space-between;
                }

                .re_header ul {
                    display: flex;
                    padding: 20px 0;
                }

                .re_header li {
                    color: $k;
                    font-size: 12px;
                    font-weight: 500;
                    margin-right: 6px;
                }

                .paper {
                    padding: 3px 7px;
                    border-radius: 20px;
                    line-height: 1;
                    border: 1px solid transparent;
                    background: rgba(23, 23, 237, 0.1);
                    text-align: center;
                }

                .slash {
                    width: 4px;
                    height: 8px;
                    margin: 6px 6px 0;
                }

                .help {
                    color: $m;
                    font-size: 14px;
                    font-weight: 500;

                    img {
                        width: 13px;
                        height: 13px;
                        vertical-align: top;
                        margin-top: 3px;
                    }
                }

                .re_content {
                    font-size: 14px;
                    max-height: 66px;
                    line-height: 22px;
                }

                .re_footer {
                    display: flex;
                    justify-content: flex-end;
                    margin: 20px 0;
                }

                .good {
                    font-size: 13px;
                    line-height: 19px;
                    letter-spacing: -0.01em;
                    margin-right: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 20px;
                        height: 20px;
                        margin-right: 2px;
                    }
                }

                .re_ply {
                    font-size: 13px;
                    line-height: 19px;
                    letter-spacing: -0.01em;
                    color: $k;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 20px;
                        height: 20px;
                        margin-right: 5px;
                    }
                }
            }
        }


    }

    #infomation {
        position: relative;

        .lbtn {
            position: absolute;
            top: 0;
            right: 100px;
            color: #000;
            background: $f;
            border: 1px solid $l;
            height: 38px;
            padding: 0 13px 1px;
            border-radius: 6px;
            cursor: pointer;

            &:hover {
                background-color: $o;
            }
        }

        .rbtn {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 13px;
            color: $f;
            border: 1px solid $g;
            background-color: $g;
            height: 38px;
            padding: 0 13px 1px;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            img {
                width: 17px;
                height: 15px;
                margin-right: 3px;
            }

            &:hover {
                border: 1px solid #85671d;
                background-color: #85671d;
            }

        }

        .txt7Wrap {

            .info {
                padding: 30px 0;
                border-top: 1px solid $j;

                &:first-child {
                    border-top: 1px solid #000;
                }
            }

            h5 {
                font-size: 15px;
                margin-bottom: 15px;
            }

            p {
                font-size: 14px;

            }

            .graybox {
                margin-bottom: 60px;
                font-size: 13px;
                color: $c;
                padding: 24px 0;
                background-color: $e;
                border-radius: 10px;
                position: relative;
                padding-left: 30px;

                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 20px;
                    top: 32px;
                    width: 3px;
                    height: 3px;
                    border-radius: 50%;
                    background-color: #999;
                }
            }
        }

    }



    //상세페이지 오른쪽 탭
    .fieldtop {
        margin-bottom: 20px;
        position: relative;

        .add {
            position: absolute;
            top: 5px;
            right: 0;
            font-size: 13px;
            font-weight: 500;
            color: $c;
            cursor: pointer;
        }

        .bestBook {
            display: flex;
            align-items: center;
            margin-bottom: 5px;

            img {
                width: 98px;
                height: 145px;
                border: 1px solid $j;
                border-radius: 0px;
            }
        }

        .listWrap {
            margin-left: 20px;

            span {
                color: $f;
                background: $h;
                border: 1px solid $h;
                width: 20px;
                padding: 3px 2px 2px;
                font-size: 12px;
                font-weight: 700;
                line-height: 1;
                border-radius: 6px 0;
                display: inline-block;
                box-sizing: border-box;
                text-align: center;
                vertical-align: top;
                margin-bottom: 5px;

            }

            h5 {
                font-size: 15px;
                line-height: 23px;
                letter-spacing: -0.01em;
                font-weight: 500;
            }

            .pub {
                margin-top: 5px;
                font-size: 13px;
                line-height: 19px;
                color: $c;
            }

            .list_price {
                margin-top: 5px;
                font-size: 13px;
                line-height: 19px;
                color: #000;

            }

            .sale {
                margin-top: 5px;
                margin-right: 6px;
                font-size: 13px;
                line-height: 19px;
                color: $m;
                float: left;
                font-weight: 700;
            }

        }
    }

    .newBook {
        margin-bottom: 20px;
        position: relative;

        .add {
            position: absolute;
            top: 5px;
            right: 0;
            font-size: 13px;
            font-weight: 500;
            color: $c;
            cursor: pointer;
        }

        .brandNew {
            display: flex;
            align-items: center;
            margin-bottom: 5px;

            img {
                width: 98px;
                height: 145px;
                border: 1px solid $j;
                border-radius: 0px;
            }
        }

        .listWrap {
            margin-left: 20px;

            h5 {
                font-size: 15px;
                line-height: 23px;
                letter-spacing: -0.01em;
                font-weight: 500;
            }

            .pub {
                margin-top: 5px;
                font-size: 13px;
                line-height: 19px;
                color: $c;
            }

            .list_price {
                margin-top: 5px;
                font-size: 13px;
                line-height: 19px;
                color: #000;
            }

            .sale {
                margin-top: 5px;
                margin-right: 6px;
                font-size: 13px;
                line-height: 19px;
                color: $m;
                float: left;
                font-weight: 700;
            }
        }
    }

    //슬라이드 토글
    .slideBtn {
        width: 10%;
        margin-top: 30px;
        cursor: pointer;
    }

    .text {
        color: $c;
        font-size: 15px;
        margin-right: 5px;
    }

    .text:hover {
        text-decoration: underline;
    }

    .show .arrowDown {
        width: 18px;
        height: 18px;
        display: inline-block;
        background-image: url(../sub_img/more.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        vertical-align: middle;
    }

    .hide {
        display: none;
    }

    .hide .arrowDown {
        width: 18px;
        height: 18px;
        display: inline-block;
        background-image: url(../sub_img/more_up.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        vertical-align: middle;
    }


}

//하단 탭
#bottom_tab {
    width: 100%;
    position: relative;


    .tab_inner {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        min-width: 1440px;
        background-color: $f;
        z-index: 1000;
    }

    .tab_inner_wrap {
        border-top: 1px solid $q;
        height: 70px;
    }

    .contents_wrap {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 1440px;
        margin: 0 auto;
    }

    .left_area {
        display: flex;

        .total {
            display: inline-block;
            margin: 7px 30px 0 0;
            font-size: 15px;
            line-height: 23px;
        }

        .num {
            display: flex;
            font-size: 24px;
            line-height: 36px;

            .amout {
                font-weight: 700;
            }
        }

    }

    .right_area {
        display: flex;

        .heart {
            width: 50px;
            height: 50px;
            border: 1px solid $l;
            border-radius: 6px;
            background-color: $f;
            display: flex;
            align-items: center;
            margin-right: 6px;
            cursor: pointer;

            img {
                width: 20px;
                height: 20px;
                margin: 0 auto;
            }
        }

        .gift {
            width: 130px;
            border: 1px solid $l;
            border-radius: 6px;
            background-color: $f;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            img {
                width: 18px;
                margin-right: 4px;
            }

            .ing {
                font-weight: 700;
            }
        }

        .cart {
            width: 120px;
            border: 1px solid $g;
            border-radius: 6px;
            background-color: $f;
            text-align: center;
            font-weight: 700;
            color: $g;
            padding-top: 12px;
            margin-left: 6px;

            &:hover {
                background: $g;
                opacity: 0.3;
                color: $f;
                cursor: pointer;
            }
        }

        .two_btns {
            width: 240px;
            border: 1px solid $g;
            border-radius: 6px;
            background-color: $f;
            text-align: center;
            font-weight: 700;
            display: flex;
            margin-left: 6px;

            .dream {
                width: 50%;
                padding-top: 12px;
                color: $g;

                &:hover {
                    background: $g;
                    opacity: 0.3;
                    color: $f;
                    cursor: pointer;
                }
            }

            .buy {
                width: 50%;
                background: $g;
                padding-top: 12px;
                color: $f;

                &:hover {
                    background: #85671d;
                    cursor: pointer;
                }
            }
        }
    }




}